
<app-usuarios></app-usuarios>







<!--    Arquitetura
    CREATE A DATA OBJECT 
    criar um objeto de dados
        que vai se ligar a tudo que estamos recebendo da API
        > Arquivo Html arquivo do tipo Script, que recebe a classe observable
    CREARE A DARA SERVICE
        > Criar um serviço de dados, 
            que será utilizado pelo nosso componente
        - Criar classe injetável  observable, 
            ele usará um cliente HTTp do angular, fazendo uso do da interface observável de rxjs
        //Injeção de dependencia, podendo ser utilizado em qualquer componente
    retornará um observavel
    observible - inscreva-se nele e mapeie essa resposta para os dados, em seguida renderizá-lo na interface do usuário
    BUILD A COMPONENT THAT USES THE DATA SERVICE TO RENDER DATA
    Buscar dados e ter uma função
    // Como obter os dados a API retorna em forma de lista

-->