<h1 ngClass='title'>Lista de Usuários</h1>
<!--  Container usuarios  Diretiva *ngFor -->
<div ngClass='usercontainer' *ngFor='let item of persondata; let i =index '>    
    <img ngClass='userimg' src={{item.img}} alt="Imagem Usuário" />           
    <div ngClass='user'>
        <h4  >Nome do usuário {{item.name}} <br/>
            <span>ID: {{item.id}} - Username: {{item.username}}</span>
        </h4>   
         
    </div>  
    
    <!-- Botão Pagar  função OpenModal - diretiva *ngIF  -->
    <button ngClass='button' (click)= "OpenModal()"> Pagar </button> 
</div>




