// Título Modal
.titlemodal{
  // Cor e forma
  background:#525383;
  color: white;
  // Tamanho e Posicionamento
  height: 40px;
  padding: 20px;
  margin-top: 0; 
  text-align: initial;
}

.usermodal{
  color: rgb(222, 226, 19);
}

.Containermodal {
  // Cor e forma
  border: solid 1px #FFFFFF24;
  
  box-shadow: 0px 5px 10px #5538EE14; 
  // Tamanho e Posicionamento
  width: 500px;   
      
  margin: 10px 35vw 5px;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  position: fixed;
  top: 200px;
  left: 0;
 }
 
 .modal {
  background: #fff; 
 
}
.valormodal{
  font-size: 25px;
  border-radius: 5px;
  width: 400px;
  margin-bottom: 10px;
}

.inputcard{
  border-radius: 5px;
  width: 400px;
  font-size: 20px; 
  padding: 0 8px;
}
/*Cartão selecionado */
.cardselected{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 20px;
  height: 48px;
  margin-top: 10px;
}

.Containermodal > .modal > button {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 20px;
  height: 35px;
  padding: 0 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}



 