
    <div>
      <h2>Pagamento para Nome do Usuário</h2>
      <form >      
        <mat-form-field >
            <mat-label></mat-label>
           <input type="number" matImput placeholder = "R$ 0,00"> 
        </mat-form-field> 
        <h3> Cartão com final ID Variável </h3>
        </form>
        <button >Pagar</button>
    </div>
    
   
    
   





<!-- 

Cartão com final 0123

Pagar

Modal de pagamento concluído com sucesso

Recibo de pagamento

O Pagamento foi concluído com sucesso.

Modal de erro do pagamento

Recibo de pagamento

O pagamento não foi concluído com sucesso.  -->




