
    <!-- Importação variável displays -->    
    <div ngClass='Containermodal' [ngStyle] =" {'display': !showDisplay ? 'none' : 'flex' } "  >
      <!-- Título Modal -->  
      <h2 ngClass="titlemodal" >Pagamento para 
        <span ngClass="usermodal" > {{displays.getUsuarioSelecionado()}}  </span>  
        <button (click)="closeModal()" ></button>
      </h2>  
      <div ngClass="ContainerForm" > 
        <form>          
          <!-- Descrição Valor -->
          <input ngClass="valormodal" type="number"placeholder='R$ 0,00'>
          <select name="" id="Card">
              <option value="" >Cartão com final 0123</option>
              <option value="">Cartão com final 1111</option>
          </select>         

         
        </form>
       
        <!-- Card details -->
        <h3>   </h3>
        <!-- Button Modal -->
        <button >Pagar</button> 
        
      </div>
    </div>

    <!------ Container Pagamento Concluiído ---------->
    <!-- <div ngClass="containerrecibo">
      <h2 ngClass="titlerecibo">Recibo de pagamento</h2>
      <h2 >O Pagamento foi concluído com sucesso.</h2>  
    </div> -->

      <!------ Container ERRO Pagamento  ---------->
      <!-- <div ngClass="error">
        <h2 ngClass="titleerro">Recibo de pagamento</h2>
        <h2 >O Pagamento não foi concluído com sucesso.</h2>  
      </div> -->

