
    <!-- Importação variável displays -->    
    <div ngClass='Containermodal' [ngStyle] =" {'display': !showDisplay ? 'none' : 'flex' } "  >
      <!-- Título Modal -->  
      <h2 ngClass="titlemodal" >Pagamento para 
        <span ngClass="usermodal" > {{displays.getUsuarioSelecionado()}}  </span>  
        <button (click)="closeModal()" ></button>
      </h2>  
      <div ngClass="ContainerForm" >
          <!-- Descrição Valor -->
          <input ngClass="valormodal" type="number" placeholder='R$ 0,00' [(ngModel)]="q" [ngModelOptions]="{standalone: true}" >
             <!-- Card details -->
             <div>
               <label for="cardlist"></label>
                  <select ngclass="itenselected" id="cardlist" [(ngModel)]="dadoscard" required  >
                    <option *ngFor='let cardsel of cards; let i = index' [ngValue]="cardsel" >Cartão com final{{cardsel.card_number}}
                    </option>
                  </select>                
             </div>    
        <!-- Button Modal -->
              <div>
                <button (click)="sendpay()"  >
                  Pagar
                </button>
                
              </div>
       
        
      </div>
    </div>

    <!------ Container Pagamento Concluiído ---------->
    <!-- <div ngClass="containerrecibo">
      <h2 ngClass="titlerecibo">Recibo de pagamento</h2>
      <h2 >O Pagamento foi concluído com sucesso.</h2>  
    </div> -->

      <!------ Container ERRO Pagamento  ---------->
      <!-- <div ngClass="error">
        <h2 ngClass="titleerro">Recibo de pagamento</h2>
        <h2 >O Pagamento não foi concluído com sucesso.</h2>  
      </div> -->

