/* Corpo da página -  características gerais */

body {
    /* Tamanho do background*/ 
    background-size:  100vw 42vmax, auto 100vmax;
    /* Default text */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
}




